.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
}
.product-item img{
  width: 200px;
}

.product-item div {
  display: inline-block;
}
.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-price {
  color: green;
  font-weight: bold;
}
